@font-face {
    font-family: Montserrat-Regular;
    src: url(./Fonts/Montserrat/Montserrat-Regular.ttf);
}

html {
    background-color: #1D1E2D;
    max-width: 100%;
}



.nav-header {
    padding-top: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
 }

.adamnite-logo-container {
    display: flex;
    margin-left: 10px;
}

.nav-link-container {
    margin: 0 auto;
    display: none;
}

.header-socials-container {
    margin-right: 20px;
}

.social-svg {
    padding-right: 16px;
}

.nav-links {
    padding-right: 20px;
}

a {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;

    /* Gray */

    color: #9FA1B9;
}


a:hover {
    color: #FFFFFF;
}

h2 {
    font-family: Montserrat-Regular;
    padding-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 32px;
    color: #FFFFFF;
}

h3 {
    font-family: Montserrat-Regular;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 32px;
    color: #FFFFFF;
}

li {
    color: #FFFFFF;
    opacity: .7;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-size: 1em !important;
    margin-left: 3em;
    line-height: 40px; 
}

p {
    color: #FFFFFF;
    opacity: .7;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-size: 1rem !important;
    margin-left: 3em;
    line-height: 2em;
}

body {
    max-width: 100%;
    background-image: url('graphic.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100vw - 400px);
}

.adamnite-svg {
    width: 40px;
    height: 36.41px;
    top: 26px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adamnite-logo {
    /* ADAMNITE */
    padding-left: 12px;
    width: 219px;
    height: 0px;
    left: 89px;
    bottom: 0px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* Gray */

    /* color: #9FA1B9;
    mix-blend-mode: luminosity;
    opacity: 0.7; */
}

.hero-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 100px);
  
}

.hero-title-container {
    width: 100%;
   margin:0 auto;
    
}

.hero-title-svg {
    width: 15.5%;
    height: 779px;
}

.whitepaper-img {
    margin-left: 3em;
}

.hero-title {
    font-size: 72px;
    background: -webkit-linear-gradient(86deg, rgba(108,99,255,1) 37%, rgba(71,230,177,1) 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;
    /* or 122% */

    letter-spacing: -0.03em;
}


.whitepaper-title {
    margin-top: 1em;
    text-align: center !important;
}

.hero-subtitle {
    color: #9FA1B9;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
}

.whitepaper-button {
    margin-top: 50px;
    width: 219px;
    height: 48px;
    margin-left: 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 24px;
    background-color:#1D1E2D;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    margin-right: 1em;
    /* or 250% */

    color: #FFFFFF;
}

.use-case-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.gradient-line {
    width: 72px;
    height: 2px;
    margin-left: 200px;
    
}

strong {
    color: #FFFFFF;
    opacity: 1;
}

.grid-title {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 960px;
    margin: 0 auto 80px auto;
}

.content-nav {
    display: grid;
    grid-template-columns: repeat(3, .2fr);
    margin-top: 1em;
    justify-content: center;
    margin-left: 15em;
}

.content-nav a {
    margin-left: 1em;
}

.grid-title::before {
        display: inline-block;
        content: "";
        height: 1px;
        background: linear-gradient(86deg, rgba(108,99,255,1) 37%, rgba(71,230,177,1) 67%);
        width: 4rem;
        margin-right:30px;
        transform: translateY(-0.5rem);
}

.use-case-box {
    width: 100%;
    background: url('usecasebg1.png') no-repeat;
    background-size: 100%;
    height: 320px;
}

.use-case-title {
    font-family: Montserrat-Regular;
    padding-top: 16px;
    margin-left: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.use-case-subtitle {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 32px;
    line-height: 28px;
    color: #FFFFFF;
}

.box2 {
    width: 100%;
    background-size: 100%!important;;
    background: rgb(66, 67, 82, 0.3) !important;
    
}

.use-case-heading-box2 {
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 29px;
    padding-top: 10px;
    background: -webkit-linear-gradient(86deg, rgba(108,99,255,1) 37%, rgba(71,230,177,1) 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat-Regular;
}

.use-case-title-box2 {
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 40px;
    line-height: 40px;
    background: -webkit-linear-gradient(86deg, rgba(108,99,255,1) 37%, rgba(71,230,177,1) 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat-Regular;
}

.use-case-subtitle-box2 {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    margin-left: 20px;
    line-height: 32px;
    color: #FFFFFF;
    align-self: baseline;
}

.box3 {
    width: 100%;
    background-size: 100%!important;
    background: url('usecasebg2.png') no-repeat;
}

.box4 {
    width: 100%;
    background-size: 100%!important;;
    background: url('usecasebg3.png') no-repeat;
}

.box5 {
    width: 100%;
    background-size: 100%!important;;
    background: url('usecasebg4.png') no-repeat;
}

.box6 {
    width: 100%;
    background-size: 100%!important;;
    background: url('usecasebg5.png') no-repeat;
}

.box7 {
    width: 100%;
    background-size: 100%!important;;
    background: url('usecasebg6.png') no-repeat;
}

.box8 {
    width: 100%;
    background-size: 100%;
    max-height: 320px;
    background: rgb(66, 67, 82, 0.3) !important;
    grid-column: 1 / span 2;
}

.box8 h2, h3, div {
    margin-bottom: 0px;
}

.usecase-socials {
    margin-left: 32px;
    margin-bottom: 20px;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}



.crowdfund-container {
    background: rgb(66, 67, 82, 0.3) !important;
    margin-top: 20px;
    width: 100%;
    height: 160px;
   
    grid-column: 1 / span 2;
}

.crowdfund-h1 {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 22px;
    /* identical to box height */
    padding-top: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #9FA1B9;

}

#countdown {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em !important;
    line-height: 1em;
    background: -webkit-linear-gradient(86deg, rgba(108,99,255,1) 37%, rgba(71,230,177,1) 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat-Regular;
    text-align: center;
    margin: 24px 0;
}

.input {
    background: #C4C4C4;
    opacity: 0.2;
    border-radius: 24px;
    margin: 0 auto;
    /* or 286% */
    margin-top: -20px;
    display: flex;
    align-items: center;
    width: 30%;
    height: 1vw;
}

input::placeholder{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    color: white;
    opacity: 1 !important;
    text-align: center;
}

body {
    padding-bottom: 50px;
}

.footer {
    padding-top: 100px;

}

.footer-socials {
    float: right;
    margin-right: 20px;
}

.footer-rights {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    float: left;
    /* Gray 6 */
    color: #F2F2F2;
    margin-left: 100px;
}

.whitepaper-container {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Media queries */

/* Laptop */

@media screen and (max-width: 1600px) {
    .hero-container {
        padding-bottom: 30px;
        max-width: 960px;
    }

    .use-case-box {
        width: 100%;
    }

    .crowdfund-container {
  
    }

    .content-nav {
        margin-left: 5em;
    }
}

@media screen and (max-width: 1040px) {
    
    .hero-title {
        font-size: 32px;
        line-height: 140%;
    }
    .hero-title-container {
       text-align: center;
    }

    .hero-subtitle {
        font-size: 18px;
        line-height: 160%;
        width: 90%;
        margin: 0 auto;
    }

    .use-case-grid-container {
        grid-template-columns: 1fr!important;
    grid-template-rows: 8fr!important;
    grid-gap: 20px 0;
    }

    .gradient-line {
        margin-left: 100px;
    }

    .grid-title {
        margin-left: 100px;
    }

    .box1 {
        grid-row: 1;
    }

    .box2 {
        grid-row: 2;
    }

    .box3 {
        grid-row: 3;
    }
    
    .box4 {
        grid-row: 4;
    }
    
    .box5 {
        grid-row: 5;
    }
    
    .box6 {
        grid-row: 6;
    }
    
    .box7 {
        grid-row: 7;
    }

    .box8 {
        grid-row: 8;
    }

}

/* mobile */

@media screen and (max-width: 640px) {
    .whitepaper-button {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }

    .hero-title {
        font-size: 4em;
    }

    .hero-subtitle {
        font-size: 1.5em;
    }

    .grid-title {
        font-size: 2em;
    }

    .use-case-subtitle {
        font-size: 1.75em;
    }

    .use-case-title {
        font-size: 2.5em;
    }

    p {
        font-size: .3rem !important;
    }
}
